.nav-bar {
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 1rem;

    a {
        color: white !important;
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;

    .card {
        padding: 1rem;
    }
}