<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% assets "dashboard" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
    <div class="nav-bar bg-primary">
        <h3>Chat Advisor</h3>
        <div class="option">
            <a href="{{ url_for('profile') }}">Profile</a>
            <a href="{{ url_for('logout') }}">Log Out</a>
        </div>
    </div>
    <div class="content">
        <div class="chat-container">
            <div class="card">
                <h5>Talk with the bot!</h5>
                <div class="card-body">
                    <div class="chat-messages">
                        {% for message in chat_messages %}
                            {% if message.sender == 'user' %}
                            <div class="message message__user">{{ message.message }}</div>
                            {% else %}
                            <div class="message message__bot">{{ message.message }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <form action="/" method="POST">
                        <input type="text" id="query" name="query" required>
                        <button class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card stocks-container">
            <h3>Your Personalised Stocks Info:</h3>
            <div class="card-body">
                <h4>Latest Market Figures</h4><br>
                <table border="2">
                    <thead>
                      <th>Name</th>
                      <th>Symbol</th>
                      <th>Open</th>
                      <th>High</th>
                      <th>Low</th>
                      <th>Close</th>
                      <th>Volume</th>
                      <th>Last Updated</th>
                    </thead>
                    <tbody>
                        {% for data in personalised_stocks %}
                        <tr>
                            <td>{{ data.Name }}</td>
                            <td>{{data.Symbol}}</td>
                            <td>{{data.open}}</td>
                            <td>{{data.high}}</td>
                            <td>{{data.low}}</td>
                            <td>{{data.close}}</td>
                            <td>{{data.volume}}</td>
                            <td>{{data.last_updated}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                <br/>
                <br/>
                <hr>
                <h4>News Articles</h4>
                <div class="news-container">
                    {% for article in personalised_news %}
                        <div class="article">
                            <h5>{{ article.title }}</h5>
                            <p>{{ article.description }}</p>
                            <p>Published At: {{ article.publishedAt }}</p>
                            {% if article.url %}
                                <a href="{{article.url}}" target="_blank">Visit Source</a>
                                <!-- <img src="{{ article.image }}" alt="Article Image"> -->
                            {% endif %}
                        </div>
                        </br>
                        <hr>
                    {% endfor %}
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>
